{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none"></div>
		<div class="col-md-1"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h6 class="lead">Delete Catalog Item</h6>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
        <p class="padding-top-10">Are you sure you want to delete {{item.title}}?</p>

        <form action="#" method = "post">
            <div class="form-group padding-top-10">
                <button type="submit" id="submit" class="btn btn-danger">
										<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete
								</button>
                <a href="{{url_for('showCategory', category_name = item.category.name)}}">
                    <button type="button" class="btn btn-default">Cancel</button>
                </a>
            </div>
        </form>
    </div>
	</div>

{% endblock %}
